CLOUDFLARE_COMPOSER_TOKEN=""
CLOUDFLARE_RESUMAESTRO_TOKEN=""
CLOUDFLARE_PIT_BOSS_TOKEN=""
CLOUDFLARE_OBOIST_TOKEN=""
CLOUDFLARE_GENERIC_TOKEN=""
CLOUDFLARE_MASTER_TOKEN=""

GITHUB_COMPOSER_TOKEN=""
GITHUB_RESUMAESTRO_TOKEN=""
GITHUB_PIT_BOSS_TOKEN=""
GITHUB_OBOIST_TOKEN=""
GITHUB_GENERIC_TOKEN=""

SLACK_BOT_TOKEN=""
SLACK_SIGNING_SECRET=""

TAVILY_KEY=""

GEOAPIFY_API_KEY=""

OBOIST_URL=""
OBOIST_SECRET=""
